/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

/* CSS RESET */

*{
    padding: 0px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{   
    flex: auto;
    background: #a3ddaf71;
    color: rgb(13, 63, 6);
    text-align: left;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
main.ropa{
   display: flex; 
   justify-content: space-between;
   margin: 20px;
   padding: auto;
   flex-wrap: wrap; /*Si no caben se colocan de bajo imagenes*/
}
main.ropa section.ropa {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
main.ropa section.ropa img{
    display: flex;
    height: auto;
    width: 370px;
    padding: 10px;
    border-radius: 40px;
}
h1{
    text-align: center;
    text-decoration-color: 10, 53, 10;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

header
{   
    width: 100%;
    height: 40vh;
    background-color: #2f5a3a71;
    border-radius: 0% 0% 20px 20px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* NAVIGATION */
nav {
    height: 130px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    margin-left: 15px;
}

.bar-btn {
font-size: 25px;
color: rgb(0, 0, 0);
margin-right: 25px;
cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgb(0, 0, 0, .75);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
color: #fff;
font-size: 15px;
text-transform: uppercase;
font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(23, 97, 33);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/* BANNER TEXT */

.bannet-text{
    padding: 1 30px;
    text-align: justify;
    color: rgb(14, 126, 48);
    margin: 50px;
}

.bannet-text h2 {
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}

.button1 {
    color: rgb(0, 0, 0);
    margin-right: 20px;
    padding: 10px;
    background-color: rgba(250, 229, 40, 0.685);
    border-radius: 10px; 
}

.button1:hover {
    background-color: rgb(23, 97, 33, 0.685);
    color: #fff;
    transition: .5s;
}

/* RESPONSIVE FOR DESKTOP */

@media screen and (min-width: 768px){
.logo {
    margin-top: 10px;
    margin-left: 50px;
}

nav {
height: 120px;
}

.bar-btn {
display: none;
}

.nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
}

.nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
}

.nav-menu li a {
    font-size: 16px;
}

.bannet-text h1 {
font-size: 40px;
margin-bottom: 25px;
}

.bannet-text h2 {
    font-size: 30px;
}
}

